@model IEnumerable<SklepInternetowy.Models.Kategoria>
    @using SklepInternetowy.Infrastructure

<nav class="KategorieVertical">
    <ul>
        @foreach(var kategoria in Model)
        {
            <li>
                <a href="@Url.Action("List","Kursy",new { nazwaKategori = kategoria.NazwaKategorii.ToString() })" 
                   style="background-image:url(@Url.KategorieIkonySciezka(kategoria.NazwaPlikuIkony));">
                    @kategoria.NazwaKategorii
                </a>
            </li>
        }
    </ul>
</nav>