
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<div id="listaKategoriiZawortosc">
    @Html.Action("KategorieMenu")
    <div id="kategorieListPrawaSekcja">
        <div id="breadcrumop">
            
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>
        <div id="SekcjaListaKategori">
            @Html.Partial("_KursyList")
        </div>

    </div>

</div>

