<!doctype html>
<html>
<head>
    <title></title>
    <link href="reset.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
</head>
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="link">
                Koszyk (0)
                <span></span>
            </a>

            <a id="indexHeaderLogo" href="link">
                <img src="baner.jpg" class="center" />
            </a>
        </div>
    </header>


    @RenderBody();

    <footer>
        <nav>
            <ul>
                <li><a href="link">O nas</a></li>
                <li><a href="link">Społeczność</a></li>
                <li><a href="link">Opinie</a></li>
                <li><a href="link">Pomoc</a></li>
                <li><a href="link">Regulamin</a></li>
                <li><a href="link">Kontakt</a></li>
            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            Copyright &copy; 2016 P.Kursy
        </div>
    </footer>

</body>
</html>